<?xml version="1.0"?>

<!-- Copyright © Klevu Oy. All rights reserved. See LICENSE.txt for license details. -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="Klevu\IndexingCms\Service\Determiner\IsIndexableDeterminer"
                 type="Klevu\Indexing\Service\Determiner\IsIndexableDeterminer">
        <arguments>
            <argument name="isIndexableConditions" xsi:type="array">
                <item name="DisabledPagesIsIndexableCondition"
                      xsi:type="object">Klevu\IndexingCms\Service\Determiner\DisabledPagesIsIndexableCondition</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Klevu\IndexingCms\Service\Provider\SyncEnabledProvider"
                 type="Klevu\Configuration\Service\Provider\ScopeConfigProvider">
        <arguments>
            <argument name="path" xsi:type="const">Klevu\IndexingCms\Constants::XML_PATH_CMS_SYNC_ENABLED</argument>
            <argument name="returnType"
                      xsi:type="const">Klevu\Configuration\Service\Provider\ScopeConfigProvider::TYPE_BOOLEAN</argument>
        </arguments>
    </virtualType>

    <type name="Klevu\IndexingCms\Service\Provider\CmsEntityProvider">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Indexing\Logger\Logger</argument>
            <argument name="syncEnabledProvider"
                      xsi:type="object">Klevu\IndexingCms\Service\Provider\SyncEnabledProvider</argument>
            <argument name="batchSize" xsi:type="const">Klevu\Indexing\Constants::DEFAULT_INDEXING_BATCH_SIZE</argument>
            <argument name="batchSizeValidator" xsi:type="object">Klevu\Indexing\Validator\BatchSizeValidator</argument>
        </arguments>
    </type>

    <virtualType name="Klevu\IndexingCms\Service\Provider\CmsEntityProvider\Batched"
                 type="Klevu\IndexingCms\Service\Provider\CmsEntityProvider">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Indexing\Logger\Logger</argument>
            <argument name="syncEnabledProvider"
                      xsi:type="object">Klevu\IndexingCms\Service\Provider\SyncEnabledProvider</argument>
            <argument name="batchSize" xsi:type="const">Klevu\Indexing\Constants::DEFAULT_INDEXING_BATCH_SIZE</argument>
            <argument name="batchSizeValidator" xsi:type="object">Klevu\Indexing\Validator\BatchSizeValidator</argument>
        </arguments>
    </virtualType>

    <virtualType name="Klevu\IndexingCms\Service\Provider\EntityProviderProvider\Batched"
                 type="Klevu\Indexing\Service\Provider\EntityProviderProvider">
        <arguments>
            <argument name="entityProviders" xsi:type="array">
                <item name="cms"
                      xsi:type="object">Klevu\IndexingCms\Service\Provider\CmsEntityProvider\Batched</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Klevu\IndexingCms\Service\Provider\EntityProviderProvider"
                 type="Klevu\Indexing\Service\Provider\EntityProviderProvider">
        <arguments>
            <argument name="entityProviders" xsi:type="array">
                <item name="cms"
                      xsi:type="object">Klevu\IndexingCms\Service\Provider\CmsEntityProvider</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Klevu\IndexingCms\Service\Provider\EntityDiscoveryProvider\Batched"
                 type="Klevu\Indexing\Service\Provider\EntityDiscoveryProvider">
        <arguments>
            <argument name="entityType" xsi:type="string">KLEVU_CMS</argument>
            <argument name="entityProviderProvider"
                      xsi:type="object">Klevu\IndexingCms\Service\Provider\EntityProviderProvider\Batched</argument>
            <argument name="isIndexableDeterminer"
                      xsi:type="object">Klevu\IndexingCms\Service\Determiner\IsIndexableDeterminer</argument>
            <!-- CMS pages can be excluded from stores, therefore this flag is required -->
            <argument name="isCheckIsIndexableAtStoreScope" xsi:type="boolean">true</argument>
        </arguments>
    </virtualType>

    <virtualType name="Klevu\IndexingCms\Service\Provider\EntityDiscoveryProvider"
                 type="Klevu\Indexing\Service\Provider\EntityDiscoveryProvider">
        <arguments>
            <argument name="entityType" xsi:type="string">KLEVU_CMS</argument>
            <argument name="entityProviderProvider"
                      xsi:type="object">Klevu\IndexingCms\Service\Provider\EntityProviderProvider</argument>
            <argument name="isIndexableDeterminer"
                      xsi:type="object">Klevu\IndexingCms\Service\Determiner\IsIndexableDeterminer</argument>
            <!-- CMS pages can be excluded from stores, therefore this flag is required -->
            <argument name="isCheckIsIndexableAtStoreScope" xsi:type="boolean">true</argument>
        </arguments>
    </virtualType>

    <type name="Klevu\Indexing\Service\EntityDiscoveryOrchestratorService">
        <arguments>
            <argument name="discoveryProviders" xsi:type="array">
                <item name="KLEVU_CMS"
                      xsi:type="object">Klevu\IndexingCms\Service\Provider\EntityDiscoveryProvider\Batched</item>
            </argument>
        </arguments>
    </type>

    <type name="Klevu\Indexing\Service\FilterEntitiesToDeleteService">
        <arguments>
            <argument name="discoveryProviders" xsi:type="array">
                <item name="KLEVU_CMS"
                      xsi:type="object">Klevu\IndexingCms\Service\Provider\EntityDiscoveryProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="Klevu\Indexing\Service\FilterEntitiesToSetToIndexableService">
        <arguments>
            <argument name="discoveryProviders" xsi:type="array">
                <item name="KLEVU_CMS"
                      xsi:type="object">Klevu\IndexingCms\Service\Provider\EntityDiscoveryProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="Klevu\Indexing\Service\FilterEntitiesToSetToNotIndexableService">
        <arguments>
            <argument name="discoveryProviders" xsi:type="array">
                <item name="KLEVU_CMS"
                      xsi:type="object">Klevu\IndexingCms\Service\Provider\EntityDiscoveryProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="Klevu\IndexingCms\Service\Determiner\DisabledPagesIsIndexableCondition">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Indexing\Logger\Logger</argument>
        </arguments>
    </type>

    <type name="Klevu\IndexingCms\Service\EntityUpdateResponderService">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Indexing\Logger\Logger</argument>
        </arguments>
    </type>

    <type name="Magento\Cms\Model\ResourceModel\Page">
        <plugin name="Klevu_IndexingCms::CmsPageResourceModelPlugin"
                type="Klevu\IndexingCms\Plugin\CmsPageResourceModelPlugin" />
    </type>

    <type name="Klevu\IndexingCms\Observer\CmsPageDeleteObserver">
        <arguments>
            <argument name="responderService"
                      xsi:type="object">Klevu\IndexingCms\Service\EntityUpdateResponderService</argument>
        </arguments>
    </type>

    <type name="Klevu\IndexingCms\Plugin\CmsPageResourceModelPlugin">
        <arguments>
            <argument name="responderService"
                      xsi:type="object">Klevu\IndexingCms\Service\EntityUpdateResponderService</argument>
            <argument name="attributesToWatch" xsi:type="array">
                <item name="content" xsi:type="const">Magento\Cms\Api\Data\PageInterface::CONTENT</item>
                <item name="content_heading" xsi:type="const">Magento\Cms\Api\Data\PageInterface::CONTENT_HEADING</item>
                <item name="identifier" xsi:type="const">Magento\Cms\Api\Data\PageInterface::IDENTIFIER</item>
                <item name="is_active" xsi:type="string">is_active</item>
                <item name="meta_description" xsi:type="const">Magento\Cms\Api\Data\PageInterface::META_DESCRIPTION</item>
                <item name="meta_keywords" xsi:type="const">Magento\Cms\Api\Data\PageInterface::META_KEYWORDS</item>
                <item name="store_id" xsi:type="string">store_id</item>
                <item name="title" xsi:type="const">Magento\Cms\Api\Data\PageInterface::TITLE</item>
            </argument>
        </arguments>
    </type>

    <!-- Pipelines -->
    <virtualType name="Klevu\IndexingCms\Service\Provider\Sync\EntityIndexingRecordProvider"
                 type="Klevu\Indexing\Service\Provider\Sync\EntityIndexingRecordProvider">
        <arguments>
            <argument name="entityProviderProvider"
                      xsi:type="object">Klevu\IndexingCms\Service\Provider\EntityProviderProvider</argument>
            <argument name="indexingRecordCreatorService"
                      xsi:type="object">Klevu\IndexingCms\Service\EntityIndexingRecordCreatorService</argument>
            <argument name="entityType" xsi:type="string">KLEVU_CMS</argument>
        </arguments>
    </virtualType>

    <type name="Klevu\PlatformPipelines\Service\Provider\PipelineConfigurationOverridesFilepathsProviderProvider">
        <arguments>
            <argument name="pipelineConfigurationOverridesFilepathsProviders" xsi:type="array">
                <item name="KLEVU_CMS::add"
                      xsi:type="object">Klevu\IndexingCms\Service\Provider\PipelineConfigurationOverridesFilepathsProvider\Add</item>
                <item name="KLEVU_CMS::delete"
                      xsi:type="object">Klevu\IndexingCms\Service\Provider\PipelineConfigurationOverridesFilepathsProvider\Delete</item>
                <item name="KLEVU_CMS::update"
                      xsi:type="object">Klevu\IndexingCms\Service\Provider\PipelineConfigurationOverridesFilepathsProvider\Update</item>
            </argument>
        </arguments>
    </type>

    <type name="Klevu\PlatformPipelines\Service\Provider\PipelineConfigurationProvider">
        <arguments>
            <argument name="pipelineConfigurationFilepaths" xsi:type="array">
                <item name="KLEVU_CMS::add" xsi:type="string">Klevu_IndexingCms::etc/pipeline/add_update.yml</item>
                <item name="KLEVU_CMS::delete" xsi:type="string">Klevu_IndexingCms::etc/pipeline/delete.yml</item>
                <item name="KLEVU_CMS::update" xsi:type="string">Klevu_IndexingCms::etc/pipeline/add_update.yml</item>
            </argument>
            <argument name="pipelineConfigurationOverridesFilepathsProviders" xsi:type="array">
                <item name="KLEVU_CMS::add"
                      xsi:type="object">Klevu\IndexingCms\Service\Provider\PipelineConfigurationOverridesFilepathsProvider\Add</item>
                <item name="KLEVU_CMS::delete"
                      xsi:type="object">Klevu\IndexingCms\Service\Provider\PipelineConfigurationOverridesFilepathsProvider\Delete</item>
                <item name="KLEVU_CMS::update"
                      xsi:type="object">Klevu\IndexingCms\Service\Provider\PipelineConfigurationOverridesFilepathsProvider\Update</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Klevu\IndexingCms\Service\Provider\GeneratedConfigurationOverridesFilepathProvider\AddUpdate"
                 type="Klevu\Indexing\Service\Provider\GeneratedConfigurationOverridesFilepathProvider">
        <arguments>
            <argument name="filepathInVar" xsi:type="string">klevu/indexing/pipeline/cms/add_update.overrides.yml</argument>
        </arguments>
    </virtualType>

    <virtualType name="Klevu\IndexingCms\Service\ConfigurationOverridesHandler\AddUpdate"
                 type="Klevu\Indexing\Service\ConfigurationOverridesHandler">
        <arguments>
            <argument name="generatedConfigurationOverridesFilepathProvider"
                      xsi:type="object">Klevu\IndexingCms\Service\Provider\GeneratedConfigurationOverridesFilepathProvider\AddUpdate</argument>
        </arguments>
    </virtualType>
    <virtualType name="Klevu\IndexingCms\Service\ConfigurationOverridesHandler\AddUpdate\Force"
                 type="Klevu\IndexingCms\Service\ConfigurationOverridesHandler\AddUpdate">
        <arguments>
            <argument name="forceFileRegeneration" xsi:type="boolean">true</argument>
        </arguments>
    </virtualType>

    <virtualType name="Klevu\IndexingCms\Service\Provider\GeneratedConfigurationOverridesFilepathProvider\Delete"
                 type="Klevu\Indexing\Service\Provider\GeneratedConfigurationOverridesFilepathProvider">
        <arguments>
            <argument name="filepathInVar" xsi:type="string">klevu/indexing/pipeline/cms/delete.overrides.yml</argument>
        </arguments>
    </virtualType>

    <virtualType name="Klevu\IndexingCms\Service\ConfigurationOverridesHandler\Delete"
                 type="Klevu\Indexing\Service\ConfigurationOverridesHandler">
        <arguments>
            <argument name="generatedConfigurationOverridesFilepathProvider"
                      xsi:type="object">Klevu\IndexingCms\Service\Provider\GeneratedConfigurationOverridesFilepathProvider\Delete</argument>
        </arguments>
    </virtualType>
    <virtualType name="Klevu\IndexingCms\Service\ConfigurationOverridesHandler\Delete\Force"
                 type="Klevu\IndexingCms\Service\ConfigurationOverridesHandler\Delete">
        <arguments>
            <argument name="forceFileRegeneration" xsi:type="boolean">true</argument>
        </arguments>
    </virtualType>

    <virtualType name="Klevu\IndexingCms\Service\Provider\Sync\EntityIndexingRecordProvider\Add"
                 type="Klevu\IndexingCms\Service\Provider\Sync\EntityIndexingRecordProvider">
        <arguments>
            <argument name="action" xsi:type="string">Add</argument>
        </arguments>
    </virtualType>

    <virtualType name="Klevu\IndexingCms\Service\Provider\Sync\EntityIndexingRecordProvider\Delete"
                 type="Klevu\IndexingCms\Service\Provider\Sync\EntityIndexingRecordProvider">
        <arguments>
            <argument name="action" xsi:type="string">Delete</argument>
        </arguments>
    </virtualType>

    <virtualType name="Klevu\IndexingCms\Service\Provider\Sync\EntityIndexingRecordProvider\Update"
                 type="Klevu\IndexingCms\Service\Provider\Sync\EntityIndexingRecordProvider">
        <arguments>
            <argument name="action" xsi:type="string">Update</argument>
        </arguments>
    </virtualType>

    <virtualType name="Klevu\IndexingCms\Service\Provider\PipelineConfigurationOverridesFilepathsProvider\Add"
                 type="Klevu\PlatformPipelines\Service\Provider\PipelineConfigurationOverridesFilepathsProvider">
        <arguments>
            <argument name="generatedConfigurationOverridesFilepathProvider"
                      xsi:type="object">Klevu\IndexingCms\Service\Provider\GeneratedConfigurationOverridesFilepathProvider\AddUpdate</argument>
        </arguments>
    </virtualType>

    <virtualType name="Klevu\IndexingCms\Service\EntityIndexerService\Add"
                 type="Klevu\Indexing\Service\EntityIndexerService">
        <arguments>
            <argument name="entityIndexingRecordProvider"
                      xsi:type="object">Klevu\IndexingCms\Service\Provider\Sync\EntityIndexingRecordProvider\Add</argument>
            <argument name="pipelineIdentifier" xsi:type="string">KLEVU_CMS::add</argument>
            <argument name="configurationOverridesHandler"
                      xsi:type="object">Klevu\IndexingCms\Service\ConfigurationOverridesHandler\AddUpdate</argument>
        </arguments>
    </virtualType>

    <virtualType name="Klevu\IndexingCms\Service\Provider\PipelineConfigurationOverridesFilepathsProvider\Delete"
                 type="Klevu\PlatformPipelines\Service\Provider\PipelineConfigurationOverridesFilepathsProvider">
        <arguments>
            <argument name="generatedConfigurationOverridesFilepathProvider"
                      xsi:type="object">Klevu\IndexingCms\Service\Provider\GeneratedConfigurationOverridesFilepathProvider\Delete</argument>
        </arguments>
    </virtualType>

    <virtualType name="Klevu\IndexingCms\Service\EntityIndexerService\Delete"
                 type="Klevu\Indexing\Service\EntityIndexerService">
        <arguments>
            <argument name="entityIndexingRecordProvider"
                      xsi:type="object">Klevu\IndexingCms\Service\Provider\Sync\EntityIndexingRecordProvider\Delete</argument>
            <argument name="pipelineIdentifier" xsi:type="string">KLEVU_CMS::delete</argument>
            <argument name="configurationOverridesHandler"
                      xsi:type="object">Klevu\IndexingCms\Service\ConfigurationOverridesHandler\Delete</argument>
        </arguments>
    </virtualType>

    <virtualType name="Klevu\IndexingCms\Service\Provider\PipelineConfigurationOverridesFilepathsProvider\Update"
                 type="Klevu\PlatformPipelines\Service\Provider\PipelineConfigurationOverridesFilepathsProvider">
        <arguments>
            <argument name="generatedConfigurationOverridesFilepathProvider"
                      xsi:type="object">Klevu\IndexingCms\Service\Provider\GeneratedConfigurationOverridesFilepathProvider\AddUpdate</argument>
        </arguments>
    </virtualType>

    <virtualType name="Klevu\IndexingCms\Service\EntityIndexerService\Update"
                 type="Klevu\Indexing\Service\EntityIndexerService">
        <arguments>
            <argument name="entityIndexingRecordProvider"
                      xsi:type="object">Klevu\IndexingCms\Service\Provider\Sync\EntityIndexingRecordProvider\Update</argument>
            <argument name="pipelineIdentifier" xsi:type="string">KLEVU_CMS::update</argument>
            <argument name="configurationOverridesHandler"
                      xsi:type="object">Klevu\IndexingCms\Service\ConfigurationOverridesHandler\AddUpdate</argument>
        </arguments>
    </virtualType>

    <type name="Klevu\Indexing\Service\EntitySyncOrchestratorService">
        <arguments>
            <argument name="entityIndexerServices" xsi:type="array">
                <item name="KLEVU_CMS" xsi:type="array">
                    <item name="delete"
                          sortOrder="10"
                          xsi:type="object">Klevu\IndexingCms\Service\EntityIndexerService\Delete</item>
                    <item name="update"
                          sortOrder="20"
                          xsi:type="object">Klevu\IndexingCms\Service\EntityIndexerService\Update</item>
                    <item name="add"
                          sortOrder="30"
                          xsi:type="object">Klevu\IndexingCms\Service\EntityIndexerService\Add</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Klevu\IndexingCms\Observer\Admin\System\Config\UpdateCmsSyncSettingsObserver">
        <arguments>
            <argument name="createCronScheduleAction"
                      xsi:type="object">Klevu\Indexing\Service\Action\Cron\CreateCronScheduleForEntityDiscoveryAction</argument>
        </arguments>
    </type>

    <!-- Pipelines -->
    <type name="Klevu\PlatformPipelines\ObjectManager\TransformerManager">
        <arguments>
            <argument name="namespaces" xsi:type="array">
                <item name="\Klevu\IndexingCms\Pipeline\Transformer"
                      xsi:type="const">Klevu\Pipelines\ObjectManager\ObjectManagerInterface::PRIORITY_NAMESPACE_SORT_ORDER</item>
            </argument>
        </arguments>
    </type>

    <type name="Klevu\Indexing\Service\Provider\PipelineConfigurationProvider">
        <arguments>
            <argument name="entityIndexerServices" xsi:type="array">
                <item name="KLEVU_CMS::add"
                      xsi:type="object">Klevu\IndexingCms\Service\EntityIndexerService\Add</item>
                <item name="KLEVU_CMS::delete"
                      xsi:type="object">Klevu\IndexingCms\Service\EntityIndexerService\Delete</item>
                <item name="KLEVU_CMS::update"
                      xsi:type="object">Klevu\IndexingCms\Service\EntityIndexerService\Update</item>
            </argument>
            <argument name="configurationOverridesHandlers" xsi:type="array">
                <item name="KLEVU_CMS" xsi:type="array">
                    <item name="add_update"
                          xsi:type="object">Klevu\IndexingCms\Service\ConfigurationOverridesHandler\AddUpdate</item>
                    <item name="delete"
                          xsi:type="object">Klevu\IndexingCms\Service\ConfigurationOverridesHandler\Delete</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Klevu\Indexing\Service\Provider\PipelineConfigurationOverridesHandlerProvider">
        <arguments>
            <argument name="configurationOverridesHandlers" xsi:type="array">
                <item name="KLEVU_CMS" xsi:type="array">
                    <item name="add_update"
                          xsi:type="object">Klevu\IndexingCms\Service\ConfigurationOverridesHandler\AddUpdate\Force</item>
                    <item name="delete"
                          xsi:type="object">Klevu\IndexingCms\Service\ConfigurationOverridesHandler\Delete\Force</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Klevu\Indexing\Setup\Patch\Data\RemoveGeneratedIndexingPipelineYaml">
        <arguments>
            <argument name="generatedConfigurationOverridesFilepathProviders" xsi:type="array">
                <item name="indexing_cms_add_update"
                      xsi:type="object">Klevu\IndexingCms\Service\Provider\GeneratedConfigurationOverridesFilepathProvider\AddUpdate</item>
                <item name="indexing_cms_add_delete"
                      xsi:type="object">Klevu\IndexingCms\Service\Provider\GeneratedConfigurationOverridesFilepathProvider\Delete</item>
            </argument>
        </arguments>
    </type>

    <type name="Klevu\IndexingCms\Pipeline\Provider\Argument\Transformer\ToPageUrlArgumentProvider">
        <arguments>
            <argument name="argumentProvider" xsi:type="object">Klevu\Pipelines\Provider\ArgumentProvider</argument>
        </arguments>
    </type>
</config>
