<?xml version="1.0" encoding="UTF-8"?>

<!-- Copyright © Klevu Oy. All rights reserved. See LICENSE.txt for license details. -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="magento_cms_api_data_pageinterface_delete_after">
        <observer name="Klevu_IndexingCms_CmsPageDelete"
                  instance="Klevu\IndexingCms\Observer\CmsPageDeleteObserver"/>
    </event>

</config>
